<!DOCTYPE html>
<html>
<head>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Properties -->
<title class="page-title">Welcome !</title>

<link rel="stylesheet" type="text/css"
	href="lib/Semantic-UI-CSS-master/semantic.min.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">

</head>

<body>

	<div class="ui clearing segment">
		<h3 class="ui right floated header">
			<i class="user circle outline icon"></i>
			<div class="content">
				<span id="name-user"></span>
				<div class="sub header">
					<span id="money-user">5000</span>$
				</div>
			</div>
		</h3>

		<h3 class="ui left floated header">
			<i class="money icon"></i>
			<div class="content">
				<span class="page-title">Welcome !</span>
				<div class="sub header" id="page-information">What do you want
					?</div>
			</div>
		</h3>
	</div>

	<div id="welcome-menu">
		<div class="ui four column grid">
			<div class="column"></div>
			<div class="column center aligned container">
				<button class="massive ui green button btn-action-menu"
					data-action="buy">Buy card(s)</button>
			</div>
			<div class="column center aligned container">
				<button class="massive ui blue button btn-action-menu"
					data-action="sell" type="submit">Sell your card(s)</button>
			</div>
			<div class="column"></div>
		</div>
		<div class="ui three column grid">
			<div class="column"></div>
			<div class="column center aligned container">
				<button class="massive ui orange button btn-action-menu"
					data-action="play" type="submit">Play !</button>
			</div>
			<div class="column"></div>
		</div>
	</div>

	<div id="card-table" style="display: none;">
		<div class="ui grid center aligned">
			<div class="ten wide column left aligned">
				<h3 class="ui aligned header" id="table-name">Your cards</h3>
				<!------------------------------------------------------------------------->
				<!--    ----------------------------- List ----------------------------- -->
				<!------------------------------------------------------------------------->
				<table class="ui fixed selectable single line celled table"
					id="cards-list">
					<thead>
						<tr>
							<th class="three wide">Name</th>
							<th class="three wide">Description</th>
							<th>Family</th>
							<th>HP</th>
							<th>Energy</th>
							<th>Defence</th>
							<th>Attack</th>
							<th>Price</th>
							<th>User</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="table-cards-content">
						<template id="row">
							<tr data-id="">
								<td>{{name}}</td>
								<td>{{description}}</td>
								<td>{{family_name}}</td>
								<td>{{hp}}</td>
								<td>{{energy}}</td>
								<td>{{defense}}</td>
								<td>{{attack}}</td>
								<td>{{price}}$</td>
								<td>{{user}}</td>
								<td>
									<div class="ui vertical animated button action-button" data-action="" tabindex="0">
										<div class="hidden content text-action"></div>
										<div class="visible content">
											<i class="shop icon"></i>
										</div>
									</div>
								</td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>
			<div class="five wide column">
				<div class="ui centered special cards" style="margin: auto;">
					<div class="card" id="display-card" style ="display: none;">
						<div class="content">
							<div class="ui grid">
								<div class="three column row">
									<div class="column">
										<i class="heart outline icon"></i><span class="cardHP">10</span>
									</div>
									<div class="column">
										<h5 id="familyNameId">Happy Tree Family</h5>
									</div>
									<div class="column">
										<span class="cardEnergy">10</span> <i class="lightning icon"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="image imageCard">
							<div class="blurring dimmable image">
								<div class="ui inverted dimmer">
									<div class="content">
										<div class="center">
											<div class="ui primary button">Add Friend</div>
										</div>
									</div>
								</div>
								<div class="ui fluid image">
									<a class="ui left corner label" id="cardNameImgId">DEADPOOL</a> <img
										id="cardImgId" class="ui centered image"
										src="https://static.hitek.fr/img/actualite/2017/06/27/i_deadpool-2.jpg">
								</div>
							</div>
						</div>
						<div class="content">
							<div class="ui form tiny">
								<div class="field">
									<label id="cardNameId"></label>
									<textarea id="cardDescriptionId" class="overflowHiden"
										readonly="" rows="2">Le convoi d'Ajax est attaqué par Deadpool. Il commence par massacrer les gardes à l'intérieur d'une voiture, avant de s'en prendre au reste du convoi. Après une longue escarmouche, où il est contraint de n'utiliser que les douze balles qu'il lui reste, Deadpool capture Ajax (dont le véritable nom est Francis, ce que Deadpool ne cesse de lui rappeler). Après l'intervention de Colossus et Negasonic venus empêcher Deadpool de causer plus de dégâts et le rallier à la cause des X-Men, Ajax parvient à s'échapper en retirant le sabre de son épaule. Il apprend par la même occasion la véritable identité de Deadpool : Wade Wilson.
                    </textarea>
								</div>
							</div>
						</div>
						<div class="content">
							<i class="heart outline icon"></i><span class="cardHP">
								10</span>
							<div class="right floated ">
								<span class="cardEnergy">10</span> <i
									class="lightning icon"></i>

							</div>
						</div>
						<div class="content">
							<span class="right floated"> <span id="cardAttackId">
									Attack 20</span> <i class=" wizard icon"></i>
							</span> <i class="protect icon"></i> <span id="cardDefenceId">Defense
								500</span>
						</div>
						<div class="ui bottom attached button">
							<i class="money icon"></i> Actual Value <span id="cardPriceId">
								100$</span>
						</div>

					</div>
				</div>


			</div>

		</div>
		<div class="ui grid center aligned">
			<button class="massive ui button back-button">Back</button>
		</div>
	</div>

	<script src="lib/jquery-3.3.1.min.js"></script>
	<script src="lib/Semantic-UI-CSS-master/semantic.js"></script>
	<script src="js/custom.js"></script>

</body>
</html>
