<!DOCTYPE html>
<html>
<head>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Properties -->
<title>Grid Example - Semantic</title>

<link rel="stylesheet" type="text/css" href="lib/Semantic-UI-CSS-master/semantic.min.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">

</head>

<body>
	<div class="ui clearing segment">
		<h3 class="ui right floated header">
			<i class="user circle outline icon"></i>
			<div class="content">
				<span id="userNameId">Jdoe</span>
				<div class="sub header">
					<span>5000</span>$
				</div>
			</div>
		</h3>

		<h3 class="ui left floated header">
			<i class="money icon"></i>
			<div class="content">
				SELL
				<div class="sub header">Sell your card to get money</div>
			</div>
		</h3>
	</div>


	<div class="ui grid">
		<div class="ten wide column">
			<!--  <h3 class="ui center aligned header"> My Card List</h3> -->
			<h3 class="ui aligned header">My Card List</h3>
			<!------------------------------------------------------------------------->
			<!--    ----------------------------- List ----------------------------- -->
			<!------------------------------------------------------------------------->
			<table class="ui fixed selectable single line celled table"
				id="cardListId">
				<thead>
					<tr>
						<th class="three wide">Name</th>
						<th class="three wide">Description</th>
						<th>Family</th>
						<th>HP</th>
						<th>Energy</th>
						<th>Defence</th>
						<th>Attack</th>
						<th>Price</th>
						<th>User</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="tableContent">
					<template id="row">
						<tr>
							<td><img class="ui avatar image" src={{img_src}}> <span>{{name}}
							</span></td>
							<td>{{description}}</td>
							<td>{{family_name}}</td>
							<td>{{hp}}</td>
							<td>{{energy}}</td>
							<td>{{defense}}</td>
							<td>{{attack}}</td>
							<td>{{price}}$</td>
							<td>{{user}}</td>
							<td>
								<div class="ui vertical animated button" tabindex="0">
									<div class="hidden content">Sell</div>
									<div class="visible content">
										<i class="shop icon"></i>
									</div>
								</div>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
		<div class=" five wide column">

			<!------------------------------------------------------------------------->
			<!--    ----------------------------- CARD ----------------------------- -->
			<!------------------------------------------------------------------------->
			<div id="card"></div>

		</div>

	</div>

	<script src="lib/jquery-3.3.1.min.js"></script>
	<script src="lib/Semantic-UI-CSS-master/semantic.js"></script>
	<script src="js/cardList.js"></script>

	<script>
		$(function() {
			$("#card").load("./part/card-full.html");

		});
	</script>

</body>
</html>
