<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Erreur</title>
</head>
<body>
<h1>Une erreur est survenue</h1>

<p>
    Une erreur a eu lieu pendant la requête. Ci-dessous les informations à transmettre à votre administrateur.
</p>

<p th:text="${error}">Error Info</p>
<p th:text="${status}">Status</p>

</body>
</html>
