<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Atelier 1 - Cartes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <h1>Atelier 1 - Cartes</h1>
        <div>
            <form class="ui form" id="create_card">
                <h4 class="ui dividing header">Créer une nouvelle carte</h4>
                <div class="field">
                    <label>Informations sur la carte</label>
                    <div class="two fields">
                        <div class="field">
                            <label for="name">Nom</label>
                            <input type="text" name="name" placeholder="name" required id="name">
                        </div>
                        <div class="field">
                            <label for="description">Description</label>
                            <textarea type="text" name="description" placeholder="description" required id="description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Spécialités</label>
                    <div class="two field">
                        <div class="field">
                            <label for="family">Famille</label>
                            <input type="text" name="family" placeholder="family" required id="family">
                        </div>
                        <div class="field">
                            <label for="affinity">Affinity</label>
                            <input type="text" name="affinity" placeholder="affinity" required id="affinity">
                        </div>
                    </div>
                </div>
                <button class="ui button" type="submit">Envoyer</button>
            </form>
        </div>
        <div class="ui segment">
            <div class="ui five column grid" id="gridContainer">
                <template id="selectedCard">
                    <div class="column">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="content">
                                    <div class="right floated meta">{{date}}</div>
                                    <img class="ui avatar image" src={{family_src}}> {{family_name}}
                                </div>
                                <div class="image imageCard">
                                    <div class="blurring dimmable image">
                                        <div class="ui inverted dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <div class="ui primary button">Add Friend</div>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="ui centered tiny  image" src={{image_src}}>
                                    </div>
                                </div>
                                <div class="content">
                                    <span class="right floated">
                                        <i class="heart outline like icon"></i>
                                        {{like}}
                                    </span>
                                    <i class="comment icon"></i>
                                    {{comment}}
                                </div>
                                <div class="extra content">
                                    <div class="ui large transparent left icon input">
                                        <i class="heart outline icon"></i>
                                        <input type="text" placeholder="Add Comment...">
                                    </div>
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    {{button}}
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        function get_cards(){

            const GET_CARDS_URL = "https://asi2-backend-market.herokuapp.com/cards"
            const context = {method: "GET"};

            fetch(GET_CARDS_URL, context)
                .then(response => response.json())
                .then(response => fillTableCard(response))
                .catch(error => err_callback(error))
        }

        function fillTableCard(cardlist){
            let template = document.querySelector("#selectedCard");

            for(const card of cardlist){
                let clone = document.importNode(template.content, true);

                newContent= clone.firstElementChild.innerHTML
                    .replace(/{{family_src}}/g, card.smallImgUrl)
                    .replace(/{{family_name}}/g, card.family)
                    .replace(/{{image_src}}/g, card.imgUrl)
                    .replace(/{{date}}/g, card.energy)
                    .replace(/{{comment}}/g, card.defence)
                    .replace(/{{like}}/g, card.hp)
                    .replace(/{{button}}/g, card.button);
                clone.firstElementChild.innerHTML= newContent;

                let cardContainer= document.querySelector("#gridContainer");
                cardContainer.appendChild(clone);
            }
        }

        function err_callback(error){
            console.log(error);
        }

        let create_card_form = document.getElementById("create_card");
        create_card_form.addEventListener("submit", process_card_form)

        function process_card_form(e){
            e.preventDefault();

            let data = new FormData(e.target);
            let form = Object.fromEntries(data.entries());

            const CREATE_CARD_URL = "https://asi2-backend-market.herokuapp.com/card"
            const context = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(form)
            }

            fetch(CREATE_CARD_URL, context)
                .then(response => get_cards())
                .catch(error => err_callback(error));
            return false;
        }

        get_cards();
    </script>
</body>
</html>
