<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/uk/css/uikit.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<div>
    <img th:src="${myPoney.imgUrl}" alt="">

    <h3 th:utext="${myPoney.name}">...</h3>

    <div th:style="'background-color:'+${myPoney.color}">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt.
        </p>
    </div>

    <h5 th:text="'Color:  '+${myPoney.color}">...</h5>
    <h5 th:text="'SuperPower:  '+${myPoney.superPower}">...</h5>
</div>
</body>
</html>
