<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<ul>
    <li th:each="poney : ${poneyList}">
        <div>
            <img th:src="${poney.imgUrl}" alt="">
            <h3 th:utext="${poney.name}">...</h3>
            <div th:style="'background-color:'+${poney.color}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt.</p>
            </div>
            <h5 th:text="'Color:  '+${poney.color}">...</h5>
            <h5 th:text="'SuperPower:  '+${poney.superPower}">...</h5>
        </div>
    <li>
</ul>
</body>
</html>
