
<div class="ui special cards">
	<div class="card">

		<div class="content">
			<div class="ui grid">
				<div class="three column row">
					<div class="column" style="text-align: center;">
						<a class="ui red circular label">10</a>
					</div>
					<div class="column">
						<h5>DEADPOOL</h5>
					</div>
					<div class="column" style="text-align: center;">
						<a class="ui yellow circular label">10</a>
					</div>
				</div>
			</div>
		</div>
		<div class="image imageCard">
			<div class="ui fluid image">
				<img id="cardImgId" class="ui centered image"
					src="https://static.hitek.fr/img/actualite/2017/06/27/i_deadpool-2.jpg">
			</div>
		</div>
	</div>

</div>
</div>

